<!DOCTYPE html>
<html class="bg-gray-50">
  <head>
    <title>Vision Track</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>
  <body class="h-screen flex flex-col bg-gray-50">
    <% if current_user %>
      <%= render "partials/top_nav" %>
      
      <div class="flex flex-1 overflow-hidden">
        <%= render "partials/side_bar" %>
        
        <div class="flex-1 overflow-auto bg-gray-50">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
